@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;700&family=Luckiest+Guy&display=swap');

body {margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Libre Franklin', sans-serif;
	background-color: white;
	width: 100%;
	height: 200vh;}

#svg1 {width: 100px;
position: absolute;
padding: 20px;
}

svg {
      fill: #531d1d;
    }

header {margin: 0px;
	padding: 0px;}

.lista1 {display: flex;
	margin: 0;
	list-style-type: none;
	justify-content: right;
	font-size: 1.2rem;
	font-weight: 500;
	position: absolute;
	width: 96%;
	
}

.lista1 li{
	margin-right: 50px;
	text-align: center;
	}

.lista1 li:hover{
	margin-right: 50px;
	text-align: center;
	font-size: 1.3rem;
	background-color: rgba(0, 0, 0, 0.2);
	}


.lista1 li a{display: block;
	padding: 20px 0;
	color: white;
	text-decoration: none;
	width: 200px;
	}



.fondo {background-image: linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(50, 0, 0, 0.5)
    ), url("img/araucaria.jpeg");
	height: 650px;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	text-align: center;
	font-size: 3rem;
	font-family: 'Luckiest Guy', cursive;
	display: flex;
	align-items: center;
 	justify-content: center;
}

.nuestrosparques {
	font-family: 'Luckiest Guy', cursive;
	color: #00C3FF;
	text-align: center;
	margin: 50px;}


.regiones {width: 200px; 
padding-left: 180px;
margin-top: -200px;
margin-bottom: 50px;}

.mapa{padding: 20px;}

.abajo {background-color: white;}

.seccion2 {display: flex;
}

.localizacion {background-color: white;
width: 33%;
height: 400px;
}

.region {background-color: white;
width: 33%;
height: 400px;
text-align: center;}




.reserva {background-color: white;
width: 33%;
height: 400px;
}

.reserva img, h1{text-align: center;
		font-family: 'Luckiest Guy', cursive;
		display: block;
  		margin-left: auto;
  		margin-right: auto;
}

.reserva h1{width: 250px;
}

.reserva p{width: 350px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	font-size: 0.9rem;
}

.uno {display: flex;
padding-left: 40%;

padding-top: 20px}

.uno p{padding-top: 10px}

#svg2 {position: absolute;
margin: 150px;}

.contfoot {padding-left: 500px;
padding-top: 120px;}

footer {height: 500px;
	margin-top: 150px;
background-color: #00C3FF;
color: white;}



